<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SCWCD</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HerlloWorldServlet</display-name>
    <servlet-name>HerlloWorldServlet</servlet-name>
    <servlet-class>br.com.scwcd.servlets.HelloWorldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HerlloWorldServlet</servlet-name>
    <url-pattern>/HerlloWorldServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelloFTPServlet</display-name>
    <servlet-name>HelloFTPServlet</servlet-name>
    <servlet-class>br.com.scwcd.servlets.HelloFTPServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloFTPServlet</servlet-name>
    <url-pattern>/HelloFTPServlet</url-pattern>
  </servlet-mapping>
</web-app>